<body>
 <div id="segment-header" class="segment">
  <div class="container">
   <p style="font-size:24px;padding-top:20px;">
    <a href="https://fhir.twiin.nl">Twiin</a> &ndash; <b id="ig-title">[%title%]</b>
   </p>
  </div>
 </div>
 <div id="segment-content" class="segment">
  <div class="container">
   <div class="row">
    <div class="inner-wrapper">
